########################
#
# Ignore temporary files (left by editors)
*~
*.bak
*.swp
#
# Ignore by common IDEs used directories/files
*.idea
.idea
.vscode

# Dev
/.Build/

/.ddev/*
!/.ddev/config.yaml
!/.ddev/docker-compose.phpmyadmin.yaml
!/.ddev/docker-compose.phpmyadmin_norouter.yaml

!/.ddev/addon-metadata
/.ddev/addon-metadata/*
!/.ddev/addon-metadata/phpmyadmin
!/.ddev/addon-metadata/ddev-cron

!/.ddev/commands
/.ddev/commands/*
!/.ddev/commands/host
/.ddev/commands/host/*
!/.ddev/commands/host/phpmyadmin

!/.ddev/web-build
/.ddev/web-build/*
!/.ddev/web-build/Dockerfile
!/.ddev/web-build/Dockerfile.ddev-cron
!/.ddev/web-build/cron.conf
!/.ddev/web-build/typo3.cron

/.php-cs-fixer.cache
/composer.lock
/config
/var
